body{
    background-color: black;
    margin-top: 0%;
    margin-bottom: 0%;
}

.container-box{
    width: 1440px;
    flex-shrink: 0;
    background: #F8F8F4;
    margin-left:auto;
    margin-right:auto;
}

.line-gap {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
}

.line {
    width: 1440px;
    height: 1px;
    background: #3C3030;
}

.line-section {
    width: 1440px;
    height: 1914px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 89px;
}

.head-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.heading {
    color: var(--Dark, #3C3030);
    font-family: "Iowan Old Style";
    font-size: 84px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 117.6px */
}

.big {
    width: 60.291px;
    height: 60.291px;
    fill: #E84848;
}

.group {
    width: 327px;
    height: 61px;
    display: inline-flex;
}

.small-box {
    display: inline-flex;
    width: 267px;
    height: 60px;
    flex-shrink: 0;
    border: 1px solid var(--Dark, #3C3030);
    opacity: 0.3;
}

.lens{
    width: 32px;
    height: 32px;
    flex-shrink: 0;
}

.search {
    color: var(--Dark, #3C3030);
    font-family: "Iowan Old Style";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    opacity: 0.61;
}

.btn {
    display: inline-flex;
    padding: 17px 13px 16px 22px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 1px;
    border: 1px solid #E84848;
    background: #E84848;
    color: var(--light, #FDFDFA);
    font-family: "Iowan Old Style";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
}

.news-fullsection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.top {
    color: var(--Dark-Red, #D02424);
    font-family: "Inria Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    letter-spacing: -0.4px;
    text-transform: uppercase;
}

.news-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 96px;
}

.row {
    display: flex;
    align-items: flex-start;
    gap: 80px;
}

.news {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.front {
    width: 250px;
    height: 120px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.headline {
    width: 250px;
    color: var(--Dark, #3C3030);
    font-family: "Inknut Antiqua";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 21.6px */
    letter-spacing: -0.72px;
}

.content {
    width: 250px;
    color: var(--Dark, #3C3030);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
}

.read-full{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.read {
    color: var(--Dark, #3C3030);
    font-family: "Inria Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    display: inline-flex;
}

.arrow {
    color: var(--Dark-Red, #D02424);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 22.4px */
    text-decoration-line: underline;
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 59px;
}

.foot-line {
    display: flex;
    align-items:center;
    gap: 8px;
}

.news-name {
    display: flex;
    align-items: center;
    gap: 2.264px;
}

.name {
    color: var(--Dark, #3C3030);
    font-family: "Iowan Old Style";
    font-size: 15.095px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 21.133px */
}

.small {
    width: 8.302px;
    height: 8.302px;
    fill: #E84848;
}

.msg {
    color: var(--Dark, #3C3030);
    font-family: "Inria Serif";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
}